#conditions {
    background-color: #00000000;
    color: #fff;
    font-size: 14px;
    border: none;
    cursor: pointer;
    
  }
  #close {
    background-color: #329b02;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
  }
  
  .modal-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;  
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
  }
  
  .show {
    pointer-events: visible;
    opacity: 1;
    z-index: 102;
  }
  
  .modal {
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .modal h1 {
    margin: 0;
  }
  
  .modal p {
    opacity: 0.7;
    font-size: 14px;
  }


  
  #conditions2 {
    background-color: #00000000;
    color: #fff;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }
  
  #close2 {
    background-color: #329b02;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
  }
  
  .modal-container2 {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;  
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
  }
  
  .show2 {
    pointer-events: auto;
    opacity: 1;
    z-index: 102;
  }
  
  .modal2 {
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .modal2 h1 {
    margin: 0;
  }
  
  .modal2 p {
    opacity: 0.7;
    font-size: 14px;
  }